%footer
  %p
    %a{:href => "/authors/"} © 2015–#{Time.now.year} Ghent University – iMinds and MaSTIC – Université Libre de Bruxelles
<%= ga_tracking_snippet %>
-# iOS viewport scaling fix
%script (function(a){if(navigator.userAgent.match(/like Mac OS X/i)){var c=[1,1],b="querySelectorAll"in a?a.querySelectorAll("meta[name=viewport]"):[],d=function(){b.content="width=device-width,minimum-scale="+c[0]+",maximum-scale="+c[1];a.removeEventListener("gesturestart",d,!0)};if((b=b[b.length-1])&&"addEventListener"in a)d(),c=[0.25,1.6],a.addEventListener("gesturestart",d,!0)}})(document);
