%head
  %meta{:charset => "utf-8"}
  %title= @title
  %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:600", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Lora", :rel => "stylesheet", :type => "text/css"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  ! <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
