/*
  html5doctor.com Reset Stylesheet
  v1.6.1
  Last Updated: 2010-09-17
  Author: Richard Clark - http://richclarkdesign.com
  Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*
  Main CSS
*/
/*** main element styles ***/
html,
body,
th,
td,
input,
select,
textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  line-height: 1.8;
  font-weight: 300;
}
html {
  margin: 10px;
}
body {
  width: 990px;
  max-width: 990px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #109f85;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: #15bb9a !important;
}
a.img {
  border: none;
}
h1 a,
h2 a,
.billboard a,
footer a {
  color: inherit !important;
  border-bottom: none;
}
ul,
ol,
dl {
  margin: 0 0 1em 30px;
}
p {
  margin-bottom: 1em;
}
p + ul,
p + ol {
  margin-top: -1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #109f85;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}
strong {
  font-weight: 700;
}
em {
  font-style: normal;
  font-weight: normal;
  color: #444444;
}
img,
iframe {
  max-width: 100%;
}
dt {
  font-weight: bold;
  float: left;
  clear: both;
}
dt:after {
  font-weight: 300;
  content: ":\0000a0";
}
hr {
  border-color: #dddddd;
}
pre {
  padding: 5px 10px;
  margin: -5px 0 1em 2px;
  border-left: 3px solid rgba(16, 159, 133, 0.7);
  max-width: 100%;
  overflow: auto;
}
pre:hover {
  background-color: rgba(16, 159, 133, 0.03);
}
pre code {
  vertical-align: 0;
}
pre,
pre code {
  font: 10pt/1.4 Courier, monospace;
}
code {
  font: 11pt Courier, monospace;
  letter-spacing: -1px;
}
a:hover code {
  color: #15bb9a;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
/*** layout ***/
article {
  width: 67%;
  float: left;
  padding-top: 1em;
  min-height: 100px;
}
article figure {
  text-align: center;
}
aside {
  width: 27%;
  float: right;
  border-left: 2px solid rgba(16, 159, 133, 0.7);
  margin: 3em 0;
  padding: .25em 0 .25em 3%;
}
aside div ~ div {
  margin-top: 1.5em;
}
header {
  margin: 1em 0 .25em;
}
header h1 {
  font-size: 3em;
  line-height: 1.1em;
}
header h2 {
  font-size: 1.18em;
  font-weight: 300;
  line-height: 1.5em;
}
header img {
  height: 180px;
  float: right;
  margin: -3.3em 0 -170px -100px;
}
nav ul {
  margin: 0 0 .75em;
  font-size: 1.5em;
  font-weight: normal;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav a {
  border-bottom: none;
}
nav a:hover {
  border-bottom: .15em solid;
}
footer {
  clear: both;
  padding: 0 1.5em;
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
}
.steps {
  counter-reset: step;
}
.steps h3:before {
  content: counter(step) ". ";
  counter-increment: step;
}
.example,
.example em {
  color: #666666;
}
/*** homepage ***/
.home article,
.home aside {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.home aside {
  clear: both;
  overflow: hidden;
  margin-bottom: 2em;
}
.home aside p:last-child {
  margin-bottom: 0;
}
.home aside .section {
  width: 29%;
  padding: 0 3%;
  margin-top: 10px;
  float: left;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.home aside .section:first-child {
  padding-left: 0;
  border-right: 3px solid rgba(16, 159, 133, 0.7);
}
.home aside .section:last-child {
  padding-right: 0;
  border-left: 3px solid rgba(16, 159, 133, 0.7);
}
.billboard {
  margin: 30px 0 -30px 0;
  min-height: 610px;
  font-size: 22px;
}
.billboard img.logo {
  float: right;
  min-width: 50px;
  max-width: 800px;
  margin-top: 70px;
  margin-right: 0;
  margin-bottom: 2px;
  margin-left: -600px;
  *margin: 100px -5px -500px -130px;
  *width: 280px;
}
.billboard h1 {
  padding-top: 70px;
  font-size: 3.5em;
  line-height: 1.1;
  letter-spacing: -1px;
}
.billboard h2 {
  font-weight: normal;
  font-size: 1.35em;
  line-height: 1.63;
}
.billboard figure {
  text-align: left;
  margin: 1.5em 0 2em 0;
}
.billboard figure a {
  color: #109f85 !important;
}
.billboard figure:hover img {
  opacity: .98;
  box-shadow: 5px 5px 5px #aaa;
}
.billboard figure img {
  float: left;
  margin-right: 30px;
}
.billboard figcaption {
  max-width: 600px;
  margin: .2em 0;
  line-height: 1.5;
  font-weight: bold;
}
.billboard figcaption p {
  margin: 0;
}
figure.logo {
  zoom: 1;
  clear: both;
  padding-top: 1.5em;
  border-top: 2px solid rgba(16, 159, 133, 0.7);
}
figure.logo:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
figure.logo img {
  float: left;
  margin: 0 10px 1em 0;
}
h2.screencast {
  /* preload background */
  background: url(/images/television-active.png) no-repeat -99px -99px;
}
h2.screencast a {
  background: url(/images/television.png) no-repeat right center;
  padding-right: 50px;
}
h2.screencast a:hover,
h2.screencast a:active {
  background-image: url(/images/television-active.png);
}
/*** enhancements for smaller devices ***/
@media only screen and (max-width: 1000px) {
  body {
    width: 100%;
    font-size: 14px;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: .1em;
  }
  header img {
    height: 170px;
  }
  .billboard {
    min-height: 0;
    font-size: 15px;
    margin: 0;
  }
  .billboard img.logo {
    display: none;
  }
  .billboard h1 {
    padding-top: 60px;
  }
  .billboard figure {
    margin: 1em 0 !important;
  }
}
@media only screen and (max-height: 900px) {
  .billboard {
    min-height: 0;
    margin: 0;
  }
  .billboard img.logo {
    max-width: 30%;
    margin-top: 0;
    margin-right: 20px;
  }
}
@media only screen and (max-height: 750px) {
  .billboard h1 {
    padding-top: 30px;
  }
  .billboard img.logo {
    max-width: 28%;
    margin-right: 50px;
  }
  .home aside {
    margin-bottom: 1em;
  }
  .home aside .section {
    margin-top: ;
  }
  footer p {
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-height: 600px) {
  .billboard h1 {
    padding: 0;
  }
  .billboard img.logo {
    max-width: 20%;
  }
}
@media only screen and (max-height: 400px) {
  body {
    font-size: 13px;
  }
  h2 {
    font-size: 1.3em;
    margin-bottom: .1em;
  }
  footer {
    padding: 1em 0;
  }
  .billboard {
    font-size: 13px;
  }
  .billboard img.logo {
    max-width: 6%;
  }
  .billboard figure {
    display: none;
  }
}
@media only screen and (max-width: 720px), screen and (max-height: 200px) {
  article,
  aside {
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
  }
  aside {
    padding-top: 1em;
    border-top: 2px solid rgba(16, 159, 133, 0.7);
    border-bottom: 2px solid rgba(16, 159, 133, 0.7);
  }
  img {
    height: auto;
  }
  header img {
    display: none;
  }
  .home aside .section {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none !important;
  }
  h2 {
    font-size: 1.3em;
  }
  footer {
    padding: 1em 0;
  }
  .billboard {
    font-size: 13px;
  }
  .billboard h1 {
    padding: 0;
  }
}
@media only screen and (max-width: 480px), screen and (max-height: 320px) {
  header,
  .billboard {
    font-size: 11px;
    margin: 0;
  }
  header h1,
  .billboard h1 {
    font-size: 28px;
  }
  header h2,
  .billboard h2 {
    font-size: 10px;
  }
  header img.logo,
  .billboard img.logo {
    display: none;
  }
  header figure,
  .billboard figure {
    display: none;
  }
  nav ul {
    margin: 0;
    font-size: 14px;
  }
  nav li {
    margin-right: 5px;
  }
}
/*** selection color ***/
::selection {
  background: #b8e1d9;
}
::-moz-selection {
  background: #b8e1d9;
}
body {
  -webkit-tap-highlight-color: #b8e1d9;
}
pre::selection,
code::selection {
  background: rgba(16, 159, 133, 0.1);
}
pre::-moz-selection,
code::-moz-selection {
  background: rgba(16, 159, 133, 0.1);
}
pre,
code {
  -webkit-tap-highlight-color: rgba(16, 159, 133, 0.1);
}
/*** print media ***/
@media print {
  a[href^="http://"]:after {
    content: " (" attr(href) ") ";
  }
}
/*** scrollbars ***/
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  margin-left: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #c3eae2;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #15bb9a;
  border-radius: 6px;
}
/*** IE fixes ***/
/* IE6 & 7 */
.home .section {
  *padding-left: 0 !important;
}
/* IE8 */
html .home .section {
  padding-right: 0\0/;
}
